---
apiVersion: v1
kind: Namespace
metadata:
    name: traefik

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: traefik
    namespace: traefik
spec:
    repo: https://helm.traefik.io/traefik
    chart: traefik
    version: 10.6.0
    valuesContent: |-
        {{ traefik_defaults | combine(traefik_helm_settings, recursive=True) | to_nice_yaml | indent(8) }}
