---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: sealed-secrets
    namespace: argocd
spec:
    project: default
    source:
        helm:
            releaseName: sealed-secrets
            values: |
                ingress:
                    enabled: false
                resources:
                    limits:
                        cpu: 0
                        memory: 128Mi
                    requests:
                        cpu: 0
                        memory: 56Mi
        targetRevision: 1.16.1
        chart: sealed-secrets
        repoURL: https://bitnami-labs.github.io/sealed-secrets
    destination:
        server: https://kubernetes.default.svc
        namespace: vault
    syncPolicy:
        syncOptions:
            - CreateNamespace=true
