[Unit]
Description=Exposes ArgoCD to local network interface
PartOf=k3s.service
StartLimitInterval=200
StartLimitBurst=25

[Service]
User=root
ExecStart=kubectl port-forward svc/argocd-server -n {{ argocd_namespace }} 8080:443 --address 127.0.0.1
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target
