---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: argocd-ingress
    namespace: {{ argocd_namespace }}
    finalizers:
        - resources-finalizer.argocd.argoproj.io
spec:
    project: default
    source:
        repoURL: {{ cluster_git_repository.remote }}
        targetRevision: HEAD
        path: apps/argocd

    # Destination cluster and namespace to deploy the application
    destination:
        server: https://kubernetes.default.svc
        namespace: argocd
