---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: smtp
    namespace: argocd
spec:
    project: default
    source:
        helm:
            releaseName: smtp
            values: |
                replicaCount: 1
                service:
                    type: ClusterIP
                    port: 587
                recreateOnRedeploy: false
                resources:
                    limits:
                        cpu: 0.1
                        memory: 128Mi
                    requests:
                        cpu: 0
                        memory: 0
                certs:
                    create: true
                config:
                    general:
                        TZ: "{{ timezone }}"
                        ALLOWED_SENDER_DOMAINS: "{{ mail_sending_domain }}"
                        RELAYHOST: "{{ mail_relay_host }}"
                        RELAYHOST_USERNAME: "{{ mail_relay_username }}"
                        RELAYHOST_PASSWORD: "{{ mail_relay_password }}"  # potentially you can inject this password by BanzaiCloud Bank Vault Injector
                persistence:
                    enabled: false

        targetRevision: 3.3.1
        chart: mail
        repoURL: https://bokysan.github.io/docker-postfix/
    destination:
        server: https://kubernetes.default.svc
        namespace: mail
    syncPolicy:
        syncOptions:
            - CreateNamespace=true
