---
apiVersion: v1
kind: Namespace
metadata:
    name: traefik

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: traefik
    namespace: argocd
spec:
    project: default
    source:
        helm:
            releaseName: traefik
            values: |
                {{ traefik_defaults | combine(traefik_helm_settings, recursive=True) | to_nice_yaml | indent(16) }}
        targetRevision: 10.6.0
        chart: traefik
        repoURL: https://helm.traefik.io/traefik
    destination:
        server: https://kubernetes.default.svc
        namespace: traefik
