
device:
    name: vpncloud0
    fix-rp-filter: true

ip: {{ '{{' }} vpn_node_ip {{ '}}' }}
peers:
    - {{ primary_node_public_ip }}
crypto:
    algorithms:
        - AES_128_GCM
    password: "{{ vpn_public_key }}"
ifup: |
    ip route add {{ net_cluster_cidr }} dev vpncloud0;
    ip route add {{ net_services_cidr }} dev vpncloud0;
ifdown: |
    ip route del {{ net_cluster_cidr }};
    ip route del {{ net_services_cidr }};
